DirectoryIndex index index.html
DirectorySlash off
Options -Indexes -MultiViews

Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Redirect from www
RewriteCond %{HTTP_HOST} ^www.skxdoom.github.io$ [NC]
RewriteRule ^(.*)$ http://skxdoom.github.io$1 [R=301,L]

# Display no index.html
RewriteRule ^index.html$ / [QSA,R]

# 404
# ErrorDocument 404 /404.html

# Redirects
# (Example) Redirect 301 /index.html /about
Redirect 301 /index.html https://skxdoom.github.io/en/